body {
    max-width: 1400px;
    margin: 0 auto !important;
}

li {
    border: none !important;
}

.list-group-item {
    padding: 20px !important;
}

#submitAlert {
    margin: 0;
    padding: 1rem;
    border-radius: 15px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    opacity: 1;
    transition: all 1s !important;
}

.hide {
    visibility: hidden;
    padding: 0 !important;
    height: 0 !important;
    opacity: 0 !important;
    transition: all 1s !important;
}

.card {
    height: 22rem;
    /* max-width: 400px; */
    border-radius: 15px 0 15px 15px !important;
}

.card-header {
    border-radius: 15px 0 0 0 !important;
}

.card-description {
    height: 150px;
    overflow: auto;
}

.status-row {
    /* max-width: 400px; */
    --bs-gutter-x: 0 !important;
}

.status {
    cursor: pointer;
    font-weight: bold !important;
    margin: 0;
    border-radius: 20px 20px 0 0 !important;
    height: 30px;
    padding: 3px !important;
    transition: all 1s !important;
}

.btn-primary {
    width: 130px !important;
    transition: all 1s !important;
}

.btn-success {
    width: 80px !important;
    transition: all 1s !important;
}

.btn-danger {
    width: 90px !important;
    transition: all 1s !important;
}