

body {
    max-width: 1400px;
    margin: 0 auto !important;
}

li {
    border: none !important;
}

button {
    /* border-radius: 200px !important; */
    font-weight: bold !important;
}

.list-group-item {
    padding: 20px !important;
}

#alertOverlay {
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.415);
    opacity: 1;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .2s;
}

#alertBox {
    background-color: rgb(138, 0, 0);
    height: 140px;
    width: 400px;
    border-radius: 4px;
    /* opacity: 1; */
    /* transition: all .2s; */
}

#alertBoxTop{
    background-color: rgb(123, 17, 17);
    border-radius: 4px 4px 0 0;
    height: 18px;
}

#alertBoxText {
    color: white;
    /* font-weight: bold; */
    font-size: 20px;
    height: 30%;
}

#submitAlert {
    margin: 0;
    padding: 1rem;
    border-radius: 15px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    opacity: 1;
    transition: all 1s !important;
}

.validationHide {
    visibility: hidden;
    padding: 0 !important;
    height: 0 !important;
    opacity: 0 !important;
    transition: all 1s !important;
}



.card {
    position: relative;
    height: 22rem;
    /* max-width: 400px; */
    border-radius: 15px 0 15px 15px !important;
}

.card-header {
    border-radius: 15px 0 0 0 !important;
}

.card-description {
    height: 150px;
    overflow: auto;
}

.status-row {
    /* max-width: 400px; */
    --bs-gutter-x: 0 !important;
}

.status {
    cursor: pointer;
    font-weight: bold !important;
    margin: 0;
    border-radius: 20px 20px 0 0 !important;
    height: 30px;
    padding: 3px !important;
    transition: all 1s !important;
}

.status.btn-primary {
    width: 130px !important;
    transition: all 1s !important;
}

.status.btn-success {
    width: 80px !important;
    transition: all 1s !important;
}

.status.btn-danger {
    width: 90px !important;
    transition: all 1s !important;
}

.statusButton {
    height: 40px;
    transition: all 1s !important;
}

.deleteButton {
    height: 40px;
    transition: all 1s !important;
}

.green {
    color: #198754;
    transition: all 1s;
}

.red {
    color: #dc3545;
    transition: all 1s;
}

.blue {
    color: #0d6efd;
    transition: all 1s;
}

.blur {
    filter: blur(4px);
    transition: all 1s;
}

.hide {
    visibility: hidden;
    opacity: 0;
    transition: all 1s;
}

/* .fa-trash {
    height: 40px;
} */

.buttonRow {
    /* border: 1px solid blue; */
    height: 45px;
}

.form-select:focus, .form-control:focus, #submit {
    border: 1px solid #ced4da !important;
    box-shadow: 0 0 0 0  !important;
}

#taskName, #dueDate {
    height: 50px;
    border-radius: 200px;
}

#taskDescription {
    border-radius: 15px;
}

#assigneeColumn {
    margin-right: 0 !important;
    padding-right: 0;
    padding-left: 0 !important;
}

#assignee {
    margin: 0 !important;
    padding-left: 40px !important;
    height: 50px;
    border-radius: 0 !important;
    border-left: none !important;
}

#assigneeLeftSpace {
    height: 50px;
    border-radius: 200px 0 0 200px !important;
    border: 1px solid #ced4da;
    border-right: none;
    margin-left: 12px;
}

#submitColumn {
    padding-left: 0;
    border-radius: 0 200px 200px 0;
    /* box-shadow: 0 0 0 .25rem rgba(13,110,253,.25) !important; */
}

#submit {
    border: none !important;
    width: 100% !important;
    height: 50px;
    border-radius: 0 200px 200px 0;
}

@media screen and (min-width: 577px) {
    #taskNameColumn {
        margin-right: 0 !important;
        padding-right: 0;
    }
    #dueDateColumn {
        padding-left: 0;
        border-radius: 0 200px 200px 0;
        /* box-shadow: 0 0 0 .25rem rgba(13,110,253,.25) !important; */
    }
    #taskName {
        margin: 0 !important;
        height: 50px;
        border-radius: 200px 0 0 200px !important;
    }
    #dueDate {
        width: 100% !important;
        height: 50px;
        border-radius: 0 200px 200px 0;
    }
}
